In [50]:
import sqlite3
con = sqlite3.connect("blog.db")

In [51]:
cur = con.cursor()

In [52]:
res = cur.execute("""
SELECT text FROM Post
""")
res.fetchone()

('Иррациональное желание купить айфон, но зачем? У меня же мой телефон спокойно пашет и выполняет все функции',)

Where с объединением трех таблиц в where

 Какие посты были опубликованы с темой "наука"?

In [61]:
res1 = cur.execute("""
SELECT text
FROM post
JOIN posttext ON post.id = posttext.post_id
JOIN topics ON posttext.topic_id = topics.topic_id
WHERE topic_name = 'Наука'
""")

In [62]:
res1.fetchall()

[('Человеческая речь могла возникнуть из-за того, что руки были заняты. Так считает ученый, который сравнил вокальный репертуар орангутанов, шимпанзе и горилл. Оказалось, что самые древесные из них — орангутаны — издают больше всего согласных звуков: разных щелчков и причмокиваний',),
 ('Пара американских физиков придумала новый охладительный цикл, названный ионокалорическим. Рабочее тело в таком холодильнике плавится и твердеет (то есть, охлаждает и греет) в зависимости от концентрации в нем ионов соли, которыми можно управлять приложенным напряжением',),
 ('Археологи представили новые доказательства того, что первые американцы оказались к югу от ледниковых щитов как минимум 16 тысяч лет назад. К такому выводу они пришли, проанализировав находки со стоянки Куперс-Ферри. Видимо, эти люди продвигались на юг по тихоокеанскому маршруту',),
 ('Осенью прошлого года мы рассказывали, что дрон впервые доставил человеческие легкие для трансплантации. Теперь канадские ученые опубликовали результаты этой работы в журнале Science Robotics',)]

Агрегация

Какая средняя длина поста в бд?

In [69]:
res2 = cur.execute("""
SELECT 
AVG(text_length)
FROM posttext
""")

In [70]:
res2.fetchall()

[(210.5,)]

Какая средняя длина поста для каждого автора?

In [89]:
res3 = cur.execute("""
SELECT author_username,
AVG(posttext.text_length)
FROM post
JOIN posttext ON post.id = posttext.post_id
GROUP BY author_username
""")

In [90]:
res3.fetchall()

[('HeyTarantino', 279.0),
 ('NevskyAlexandr', 277.0),
 ('PisateliFilosof', 261.0),
 ('Shoma_ves', 107.0),
 ('Vladimi03721352', 213.0),
 ('Xudozhnikipoeti', 127.0),
 ('chyngyzstan', 253.0),
 ('comicessamsa', 265.0),
 ('deboshinina', 108.0),
 ('ed_jihad', 280.0),
 ('kozmicpilgrim', 121.0),
 ('linagounohhh', 271.0),
 ('mvxiivi', 70.0),
 ('nplusodin', 253.75),
 ('nucl0id', 270.0),
 ('playdtf', 193.0),
 ('sportsru', 100.0)]

Вложенный select

Какой пост имеет максимальную длину?

In [100]:
res4 = cur.execute("""
SELECT post_text, text_length
FROM posttext
WHERE text_length = (
SELECT MAX(text_length)
FROM posttext)
""")

In [101]:
res4.fetchall()

[('Гуриев дал интервью BILD. Что он там сказал, вы не поверите. Оказывается, экономика планеты уже потеряла триллион долларов ВВП. Причина - одна бензоколонка напала на одну ферму. И весь мир рушится. У меня один вопрос. Если запад потерял триллион, то кто его нашел? И где моя доля?',
  280)]